<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Bye-bye {{ prenom }} !</h1>

    <p>
      <h2>Saluuuuut le monde !!</h2>
    </p>
  </body>
</html>